<!-- Form starts -->
<div class="awidget">
   <div class="awidget-head">
      <h3>游客</h3>
   </div>
   <div class="awidget-body">
       
<%= simple_form_for([@traveller_group, @traveller]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.association :traveller_group %>
    <%= f.input :traveller_group_id, as: :hidden, input_html: { value: @traveller_group.id} %>
    <%= f.input :name %>
    <%= f.input :mobile %>
    <%= f.input :id_card %>
    <%= f.input :is_kid %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

   </div>
</div>
<!-- Form ends -->    