<p id="notice"><%= notice %></p>

<h1>Listing Travellers</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>姓名</th>
      <th>电话</th>
      <th>证件号码</th>
      <th>是否小孩</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travellers.each do |traveller| %>
      <tr>
        <td><%= traveller.id %></td>
        <td><%= traveller.name %></td>
        <td><%= traveller.mobile %></td>
        <td><%= traveller.id_card %></td>
        <td><%= traveller.is_kid %></td>
        <td><%= link_to 'Show', traveller %></td>
        <td><%= link_to 'Edit', edit_traveller_path(traveller) %></td>
        <td><%= link_to 'Destroy', traveller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traveller', new_traveller_path %>
