<p id="notice"><%= notice %></p>

<p>
  <strong>Traveller group:</strong>
  <%= @voucher.traveller_group %>
</p>

<p>
  <strong>Price:</strong>
  <%= @voucher.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @voucher.image %>
</p>

<%= link_to 'Edit', edit_voucher_path(@voucher) %> |
<%= link_to 'Back', vouchers_path %>
